<div class="topic-fields">
  <% topic.fields.each do |field| %>
    <section class="topic-fields__field">
      <% if topic.show_field_titles? %>
        <h1 class="topic-fields__field__name">
          <%= field.display_name %>
        </h1>
      <% end %>

      <% if field.blank? %>
        <div class="topic-fields__field__blank">
          <%= fa :'empty-set', class: 'topic-fields__field__blank__icon' %>
          
          <h4 class="secondary-text topic-fields__field__blank__name">
            This <%= @topic.term %> has no <%= field.name %>.
          </h1>
        </div>
      <% elsif field.widget? %>
        TODO widget
      <% else %>
        <%= field.content %>
      <% end %>
    </section>
  <% end %>
</div>