<div class="box box--<%= box.size %> <%= box.css_class %>">
  <% if box.title %>
    <div class="box__title font-display color-<%= box.color %>">
      <%= box.title %>
    </div>
  <% end %>

  <div class="box__content bg-<%= box.color %>">
    <%= box %>
  </div>
</div>