<%= rl 'editor/container' do %>
  <%= fancy_form model: @subject, scope: :subject, url: editor_path(@subject) do |f| %>
    <label class="attr attr--text">
      <div class="attr__title">
        Title:
      </div>

      <%= f.text_field :title %>
    </label>

    <div class="attr attr--radio">
      <%= f.radio_button(:status, :draft, 
        icon: :'eye-slash',
        label: "Draft #{@subject.term}.",
        checked: @subject.draft?,
      ) %>

      <%= f.radio_button(:status, :published, 
        icon: :eye,
        label: "Public #{@subject.term}.",
        checked: @subject.published?,
      ) %>

      <div class="note">
        Your drafts are only visible to you.
      </div>
    </div>

    <div class="attr attr--text">
      <div class="attr__title">
        Description:
      </div>

      <%= f.rich_text_area :description, class: 'no-toolbar' %>
    </div>

    <div class="attr attr--text">
      <div class="attr__title">
        Content:
      </div>

      <%= f.rich_text_area :content %>
    </div>

    <div class='attr attr--controls'>
      <%= f.submit 'Save Changes', class: "subject-bg-color--#{@subject.css_class}" %>
    </div>
  <% end %>
<% end %>