<% cache subject do %>
  <div class="subject subject--<%= subject.css_class %>">
    <div class="subject__thumbnail" style="background-image: url(<%= url_for subject.thumbnail %>);">
      <%= link_to subject_path(subject) do %>
        <% if subject.draft? %>
          <span class="subject__thumbnail__draft">
            Draft
          </span>
        <% end %>
      <% end %>
    </div>

    <div class="subject__content" style="background-color: <%= subject.color %>;">
      <%= link_to subject_path(subject) do %>
        <%= avatar_for subject, class: 'subject__avatar' %>
      <% end %>

      <div class="subject__info">
        <%= link_to subject.title, subject_path(subject), class: 'subject__title' %>
        <%= link_to subject.creator.username, user_path(subject.creator) %>
      </div>
    </div>
  </div>
<% end %>