<%= component :headline, title: 'Create a...' %>

<div data-controller="tags">
  <%= fancy_form model: @subject, url: new_subject_path do |f| %>
    <div class="attr attr--radio attr--no-border-top">
      <% Subjected.types.creatable.each_with_index do |type, i| %>
        <%= f.radio_button(:subjected_type, type.name,
          icon: type.icon,
          label: type.human_name,
          checked: i == 0,
          class: "radio-button--#{type.css_class}",
          'data-action': 'tags#changeType',
          'data-tags-type': type.name,
          'data-css-class': type.css_class,
        ) %>
      <% end %>
    </div>

    <label class="attr attr--text">
      <div class="attr__title">
        Title<span class="required">*</span>:
      </div>

      <%= f.text_field :title, autofocus: true %>
    </label>

    <label class="attr attr--text">
      <div class="attr__title">
        Tags:
      </div>

      <%= f.tags_field :tag_list  %>
    </label>

    <div class="slide-down" data-target="tags.picker" style="--height: 40px">
      <div class="attr attr--text slide-down__inner">
        <div class="attr__title">
          Suggested Tags:
        </div>

        <div data-target="tags.suggestionsBlock"></div>
      </div>
    </div>

    <label class="attr attr--text">
      <div class="attr__title">
        Description:
      </div>

      <%= f.rich_text_area :description, class: 'no-toolbar' %>
    </label>

    <div class="attr attr--controls">
      <%= f.submit 'Start writing', 'data-disable-with': 'Saving...' %>
    </div>
  <% end %>

  <section class="secondary-text">
    Fields marked with a <span class="required">*</span> are required.
  </section>
</div>