<% @skip_wrappers = true %>
<% @body_class = :auth %>

<div class="box bg-body">
  <h2>Log in</h2>

  <%= fancy_form model: resource, as: resource_name, url: session_path(resource_name) do |f| %>
    <label class="attr attr--text">
      <div class="attr__title">
        Email
      </div>
    
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </label>

    <label class="attr attr--text">
      <div class="attr__title">
        Password
      </div>
    
      <%= f.email_field :password, autocomplete: "current-password" %>
    </label>

    <div class="attr attr--controls">
      <%= f.submit 'Log in', 'data-disable-with': 'Logging in...' %>
    </div>

     <%= render "devise/shared/links" %>
  <% end %>

</div>
